    header .container,
    main .container {
        padding: 0;
        background-color: white;
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 1rem;
    }
    
    header nav {
        background-color: chartreuse;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        list-style: none;
    }
    
    body {
        background-color: greenyellow;
        justify-content: center;
        align-items: center;
    }